@font-face {
  font-family: MyFont; /* chosen name font*/ 
  src:url(Quetine.otf); /*link of url of font file */ 
}

html {
  height: 100%;
  width: 100%;
}
body {
  font-family: Tahoma, san-serif;
}

.little { /* dot looks for a class NOT tag*/
  width: 100px; 
}

#big { /* # for id */
width: 500px; 
}

.part1 {
  color: rgb(185, 112, 112); 
}

.part2 {
  color: rgb(131, 131, 179); 
}

.part3 {
  color: rgb(141, 189, 141);
}

h1 {
  font-family: MyFont; /* prints out font on h1 */ 
}

/* google font code */
.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

